h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 100;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

body {
  background-color: thistle;
}
